<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="lessons.js"></script>
    <title>CW1</title>
</head>
<body>
    <div id="app">
         <!-- PRODUCTS PAGE -->
        <div v-if="showproducts">
        <div>
        <header>
            <h1 style="text-align: center;" >ClUB 19</h1>
        </header>
        <div class="row">
            <div class="col-10">
                <div class="row ml-5">
                    <div class="col">
                        <p>Sort</p>
                        <input type="radio" value="price" name="sort" v-model="price" checked> Price
                        <input type="radio" value="loc" name="sort" v-model="loc" checked> location
                        <input type="radio" value="sub" name="sort" v-model="sub" checked> subject
                        <input type="radio" value="avail" name="sort" v-model="avail" checked> Availablitity
                        
                    </div>
                    <div class="col">
                        <p>Order</p>
                        
                        <input type="radio" value="asc" name="orderr" v-model="orderr"> Ascending


                    <input type="radio" value="des" name="orderr" v-model="orderr"> Descending
                       
                    </div>
                </div>
            </div>
            <div class="col-2">
            
                <button class="btn btn-success" v-on:click="showCheckout" v-if="cartItemCount > 0">{{cartItemCount}} <i class="fas fa-cart-plus btn-danger"></i> Checkout</button>
    
                <button class="btn btn-secondary disabled" disabled v-else>{{cartItemCount}} <i class="fas fa-cart-plus"></i> Checkout</button><br><br>
            </div>
        </div>
        
        </div>

        

        <div class="col-10 pl-0 pr-3">
            <div class="row">
                <div class="col-3 mb-3" v-for="product in sortedLessons(sort, orderr)">
                    <div class="card">
                        <img v-bind:src="product.image" style="height: 100px;">
                        <div class="card-body">
                            <button v-on:click="addToCart(product)" v-if="canAddToCart(product)" class="btn btn-block btn-danger">
                                Add to cart
                            </button>
                            <h5 class="card-title" v-text="product.title"></h5>
                            
                            <p>Price: {{product.price}}</p>
                            <p>Location: {{product.location}}</p>
                            <p>Available Stock: {{product.availableInventory - cartCount(product)}}</p>
                            
                            
                            <button class="btn btn-secondary btn-block disabled" v-else>
                                Out of space
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
        
        <div v-else>
    <!-- CHECKOUT PAGE -->
            <header>
                <h1 style="text-align: center;">CHECKOUT</h1>
            </header>

            <div class="col-2">
                <button class="btn btn-success" v-on:click="showCheckout">{{cartItemCount}} <i class="fas fa-cart-plus"></i>LIST</button><br><br>
            </div>
            <div>
                <div>
                    <ul class="list-group">
                        <li class="list-group-item" v-for="product in cart">
                            <div class="row">
                                <div>
                                    <img v-bind:src="product.image" style="height: 250px; width: 150px;">
                                </div>
                                <div class="col-6">
                                    <p>{{product.title}}</p>
                                </div>
                                <div class="col-2">
                                    <span style="cursor: pointer;" class="text-danger" v-on:click="removeFromCart(product)" ><b>REMOVE FROM CART</b></span>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>

            <form>
                <div class="row m-5">
                    <div class="form-group col-4">
                        <input v-model="order.name" class="form-control" placeholder="Full Name">
                    </div>
                    <div class="form-group col-4">
                        <input v-model.number="order.phone" class="form-control" placeholder="phone">
                    </div>
                    <div class="form-group col-4">
                        <button class="btn btn-primary" v-if="checkoutBtn" v-on:click="submitOrder ">Checkout</button>

                        <button class="btn btn-secondary" disabled v-else>Checkout</button>
                    </div>
                </div>
              </form>

    </div>

    </div>



    <script>
        var store = new Vue({
            el:"#app",
            data: {
            showproducts: true,
            products: products,
            cart: [],
            order: {
                    name: '',
                    phone: '',
                },
            orderr: "asc",
            sort: "price"
            },
            

            methods: {
                addToCart: function(product) {
                            this.cart.push(product);
                },
                removeFromCart: function (product){
                            this.cart.splice(this.cart.indexOf(product))
                        },
                cartCount(id) {
                            let count = 0;
                            for (let i = 0; i < this.cart.length; i++) {
                                if (this.cart[i] === id) {
                                    count++;
                                }
                            }
                            return count;
                        },
                        canAddToCart: function(product) {
                            return product.availableInventory > this.cartCount(product);
                        },
                        showCheckout() {
                            this.showproducts = this.showproducts ? false : true;
                        },
                        sortedLessons(sort, order) {
                            let productsArray = this.products.slice(0);
                            //sort by
                                    if (order == "asc") {
                                        function comparePrice(a, b) {
                                            if (a.price > b.price)
                                                return 1
                                            if (a.price < b.price)
                                                return -1
                                            return 0
                                        }
                                        return productsArray.sort(comparePrice)
                                    } else {
                                        function comparePrice(a, b) {
                                            if (a.price > b.price)
                                                return -1
                                            if (a.price < b.price)
                                                return 1
                                            return 0
                                        }
                                        return productsArray.sort(comparePrice)
                                    }
                                    return productsArray.sort(comparePrice)
                                
                        },
                        submitOrder() {
                            alert("Thank you Order recieved!")
                        }
            },
            computed: {
                cartItemCount: function () {
                            return this.cart.length;
                        },
                checkoutBtn() {
                            if (this.order.name && this.order.phone) {
                                return true
                            }
                            else {
                                return false
                            }
                        },
            }
        })
    </script>

</body>
</html>